[submodule "C-Piscine/Shell00"]
	path = C-Piscine/Shell00
	url = git@github.com:mujalab/C-Piscine-Shell00.git
[submodule "C-Piscine/Shell01"]
	path = C-Piscine/Shell01
	url = git@github.com:mujalab/C-Piscine-Shell01.git
[submodule "C-Piscine/C00"]
	path = C-Piscine/C00
	url = git@github.com:mujalab/C-Piscine-C00.git
[submodule "C-Piscine/C01"]
	path = C-Piscine/C01
	url = git@github.com:mujalab/C-Piscine-C01.git
